



<div class="container mt-5">
     <div class="btn-box d-flex justify-content-between aling-items-center mb-3">
         <h2>Cadastro De Livros</h2>
        <a class="btn btn-success"><i class="bi bi-plus-circle"></i>  Cadastrar novo livro</a>
     </div>

     <table class="table table-hover">
         <thead>
             <tr>
                <th>Titulo</th>
                <th>Autor</th>
                <th>Genêro</th>
                <th>Quantidade em Estoque</th>
                <th>Data de cadastro</th>
                <td></td>
             </tr>
         </thead>
         <tbody>
             <tr>
                <td><i class="bi bi-people"></i>O Jantar Secreto</td>
                <td>Rafael Montes</td>
                <td>Suspense</td>
                <td><i class="bi bi-envelope-at"></i>10</td>
                <td><i class="bi bi-calendar"></i>06/06/2024</td>
                <td>
                    <a class="btn btn-warning"><i class="bi bi-file-earmark-zip"></i> Detalhes</a>
                    <a class="btn btn-primary"><i class="bi bi-pencil"></i>Editar</a>
                </td>
             </tr>
         </tbody>
     </table>

</div>